.pc
*.ncb
*.suo
*.vcproj.*.user
Engine/acwin___Win32_DebugWorking
Editor/AGS.Controls/bin
Editor/AGS.Controls/obj
Editor/AGS.CScript.Compiler/bin
Editor/AGS.CScript.Compiler/obj
Editor/AGS.Editor/bin
Editor/AGS.Editor/obj
Editor/AGS.Native/Debug
Editor/AGS.Types/bin
Editor/AGS.Types/obj
Editor/UpdateCPPVersion/bin
Editor/UpdateCPPVersion/obj
Solutions/.build/
Solutions/.lib/
Solutions/Common.Lib/Debug/
Solutions/Engine.App/Debug/

Solutions/Common.Shared.Lib/Debug
Solutions/Common.Shared.Lib/Release
Solutions/Engine.App/Release
Editor/AGS.Native/Release
Editor/References/AGS.Native.dll
Solutions/Engine.Shared.Lib/Debug
Solutions/Engine.Shared.Lib/Release
Editor/References/AGS.Native.dll
Solutions/Compiler.Lib/Debug
Solutions/Compiler.Lib/Release
Solutions/Common.Lib/Release
*.csproj.user
Solutions/References
*.idc
Engine/version.aps
*.zip
PRELOAD.pcx
audio.vox
speech.vox
ac2game.dat
acsetup.cfg
iOS/xcode/ags/ags.xcodeproj/project.xcworkspace/contents.xcworkspacedata

iOS/xcode/ags/ags.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell.xcuserdatad/UserInterfaceState.xcuserstate

iOS/xcode/ags/ags.xcodeproj/xcuserdata/janetcampbell.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/xcode/ags/ags.xcodeproj/xcuserdata/janetcampbell.xcuserdatad/xcschemes/ags.xcscheme

iOS/xcode/ags/ags.xcodeproj/xcuserdata/janetcampbell.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

iOS/.DS_Store

.DS_Store

iOS/xcode/ags/ags.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate

iOS/xcode/ags/ags.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/xcode/ags/ags.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/ags.xcscheme

iOS/xcode/ags/ags.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/xcschememanagement.plist

Plugins/agskey/vc2008/Debug/BuildLog.htm

Plugins/agskey/vc2008/Debug/agskey.dll.embed.manifest

Plugins/agskey/vc2008/Debug/agskey.dll.embed.manifest.res

Plugins/agskey/vc2008/Debug/agskey.dll.intermediate.manifest

Plugins/agskey/vc2008/Debug/agskey.exp

Plugins/agskey/vc2008/Debug/agskey.ilk

Plugins/agskey/vc2008/Debug/agskey.lib

Plugins/agskey/vc2008/Debug/agskey.dll

Plugins/agskey/vc2008/Debug/agskey.obj

Plugins/agskey/vc2008/Debug/agskey.pdb

Plugins/agskey/vc2008/Debug/mt.dep

Plugins/agskey/vc2008/Debug/vc90.idb

Plugins/agskey/vc2008/Debug/vc90.pdb

Plugins/agskey/vc2008/Release/BuildLog.htm

Plugins/agskey/vc2008/Release/agskey.dll

Plugins/agskey/vc2008/Release/agskey.dll.intermediate.manifest

Plugins/agskey/vc2008/Release/agskey.exp

Plugins/agskey/vc2008/Release/agskey.lib

Plugins/agskey/vc2008/Release/agskey.obj

Plugins/agskey/vc2008/Release/agskey.pdb

Plugins/agskey/vc2008/Release/mt.dep

Plugins/agskey/vc2008/Release/vc90.idb

Plugins/agskey/vc2008/Release/vc90.pdb

iOS/xcode/ags/Gemini Rue.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/xcode/ags/Gemini Rue.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate

iOS/xcode/ags/Gemini Rue.xcodeproj/project.xcworkspace/contents.xcworkspacedata

iOS/xcode/ags/Gemini Rue.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/WorkspaceSettings.xcsettings

iOS/xcode/ags/Gemini Rue.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/ags.xcscheme

iOS/xcode/ags/Gemini Rue.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcschemes/xcschememanagement.plist

Plugins/agswadjetutil/vc2008/Debug/BuildLog.htm

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.dll.embed.manifest

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.dll.embed.manifest.res

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.dll.intermediate.manifest

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.exp

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.ilk

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.lib

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.obj

Plugins/agswadjetutil/vc2008/Debug/agswadjetutil.pdb

Plugins/agswadjetutil/vc2008/Debug/mt.dep

Plugins/agswadjetutil/vc2008/Debug/vc90.idb

Plugins/agswadjetutil/vc2008/Debug/vc90.pdb

Plugins/agswadjetutil/vc2008/Release/BuildLog.htm

Plugins/agswadjetutil/vc2008/Release/agswadjetutil.dll.intermediate.manifest

Plugins/agswadjetutil/vc2008/Release/agswadjetutil.exp

Plugins/agswadjetutil/vc2008/Release/agswadjetutil.lib

Plugins/agswadjetutil/vc2008/Release/agswadjetutil.obj

Plugins/agswadjetutil/vc2008/Release/agswadjetutil.pdb

Plugins/agswadjetutil/vc2008/Release/mt.dep

Plugins/agswadjetutil/vc2008/Release/vc90.idb

Plugins/agswadjetutil/vc2008/Release/vc90.pdb

Engine/media/audio/audio.cpp.old

iOS/xcode/shivah/shivah_dat/music.vox

*.xcbkptlist

*.xcbkptlist

iOS/xcode/shivah/Shivah.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/xcode/shivah/Shivah.xcodeproj/xcuserdata/janetcampbell68.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/xcode/shivah/shivah_dat/old/music.vox

iOS/xcode/shivah/Shivah.xcodeproj/project.xcworkspace/xcuserdata/janetcampbell68.xcuserdatad/UserInterfaceState.xcuserstate
